body {
	background-color: palegreen;
}

/* pristupamo html elementu pomocu id-a tog elementa */

#span1 {
	border: 20px solid violet;
}

/* pristupamo html elementu pomocu classe tog elementa*/

.p1 {
	font-size: 1.5rem;
}
