* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	background-color: rgb(60, 209, 236);
}

a:hover {
	background-color: gray;
	opacity: 0.5;
	color: gold;
}

a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.linkovi {
	width: 45%;
	/* centriranje po sredini odozgo, i 0 sa desne strane */
	/* margin: auto 0; */
	/* ili */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main {
	width: 100%;
	height: 85vh;
	background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("https://www.thebalancemoney.com/thmb/3EnIaLY-Xlv82gszDtePWOyFK-Y=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/real-estate-what-it-is-and-how-it-works-3305882-1f1ca22206274467862367e2dc59f25b.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.main-section-elements {
	/* margin: auto; */
	display: flex;
	padding: 1rem 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 50%;
	width: 30%;
	background: linear-gradient(to right, #ccc5c5, #7dc9ec);
}

section {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: bisque;
}

.aside-one {
	width: 70%;
	height: 100%;
	background-color: red;
}

.aside-two {
	width: 30%;
	height: 100%;
	background-color: blue;
}
